<h3>
    <a href="/categorias">categorias</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre_cat">nombre_cat</label>
    <input required id="nombre_cat" type="text" class="form-control" name="nombre_cat" size="30"/>
</div><div class="form-group">
    <label for="descripcion_cat">descripcion_cat</label>
    <input required id="descripcion_cat" type="text" class="form-control" name="descripcion_cat" size="30"/>
</div><div class="form-group">
    <label for="status_cat">status_cat</label>
    <input required id="status_cat" type="text" class="form-control" name="status_cat" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>