$def with(admin)
<h3>
    <a href="/admin">admin</a>
</h3>
<strong>Nombre Completo: </strong> $admin.apellidos_admin <br>
num_cuenta: $admin.num_cuenta <br>
nombre_banco: $admin.nombre_banco <br>
tipo_tarjeta_admin: $admin.tipo_tarjeta_admin <br>
num_tarjeta: $admin.num_tarjeta <br>
telefono_admin: $admin.telefono_admin <br>
correo_admin: $admin.correo_admin <br>
password: $admin.password <br>
privilege: $admin.privilege <br>
user_hash: $admin.user_hash <br>
change_pwd: $admin.change_pwd <br>
status_admin: $admin.status_admin <br>
created: $admin.created <br>

<br>
<br>