<h3>
    <a href="/usuario">usuario</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre">nombre</label>
    <input required id="nombre" type="text" class="form-control" name="nombre" size="30"/>
</div><div class="form-group">
    <label for="apellidos">apellidos</label>
    <input required id="apellidos" type="text" class="form-control" name="apellidos" size="30"/>
</div><div class="form-group">
    <label for="correo_usuario">correo_usuario</label>
    <input required id="correo_usuario" type="text" class="form-control" name="correo_usuario" size="30"/>
</div><div class="form-group">
    <label for="contrasena">contrasena</label>
    <input required id="contrasena" type="text" class="form-control" name="contrasena" size="30"/>
</div><div class="form-group">
    <label for="calle_num">calle_num</label>
    <input required id="calle_num" type="text" class="form-control" name="calle_num" size="30"/>
</div><div class="form-group">
    <label for="colonia">colonia</label>
    <input required id="colonia" type="text" class="form-control" name="colonia" size="30"/>
</div><div class="form-group">
    <label for="codigo_postal">codigo_postal</label>
    <input required id="codigo_postal" type="text" class="form-control" name="codigo_postal" size="30"/>
</div><div class="form-group">
    <label for="ciudad">ciudad</label>
    <input required id="ciudad" type="text" class="form-control" name="ciudad" size="30"/>
</div><div class="form-group">
    <label for="estado">estado</label>
    <input required id="estado" type="text" class="form-control" name="estado" size="30"/>
</div><div class="form-group">
    <label for="referencias">referencias</label>
    <input required id="referencias" type="text" class="form-control" name="referencias" size="30"/>
</div><div class="form-group">
    <label for="fecha_reg_usu">fecha_reg_usu</label>
    <input required id="fecha_reg_usu" type="text" class="form-control" name="fecha_reg_usu" size="30"/>
</div><div class="form-group">
    <label for="status_user">status_user</label>
    <input required id="status_user" type="text" class="form-control" name="status_user" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>