$def with(usuario)
<h3>
    <a href="/usuario">usuario</a>
</h3>
nombre: $usuario.nombre <br>
apellidos: $usuario.apellidos <br>
correo_usuario: $usuario.correo_usuario <br>
contrasena: $usuario.contrasena <br>
calle_num: $usuario.calle_num <br>
colonia: $usuario.colonia <br>
codigo_postal: $usuario.codigo_postal <br>
ciudad: $usuario.ciudad <br>
estado: $usuario.estado <br>
referencias: $usuario.referencias <br>
fecha_reg_usu: $usuario.fecha_reg_usu <br>
status_user: $usuario.status_user <br>

<br>
<br>